
<style>
    .klasa {
     
        margin: 10px;
        width: 20%;
      
    }
</style>

<div class="d-flex flex-row bd-highlight mb-lg-5">
    <button class="p-2 bd-highlight btn btn-success klasa" onclick="window.location='/Recepcija/FilterSoba'">Sobe</button>
    <button class="p-2 bd-highligh btn btn-success klasa" onclick="window.location='/Recepcija/FilterStudenata'">Studenti</button>
    <button class="p-2 bd-highligh btn btn-success klasa" onclick="window.location='/Recepcija/PrikazZahtjeva'">Zahtjevi</button>
</div>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="search" oninput="PrikazSoba()" placeholder="Pretrazi sobe" class="form-control" id="SobaID" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" id="KrevetID" onchange="PrikazSoba()">
            <option value="0">Sve sobe</option>
            <option value="1">Jednokrevetna</option>
            <option value="2">Dvokrevetna</option>
            <option value="3">Trokrevetna</option>
        </select>
    </div>
</form>


<div id="Ajax">

</div>
<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    var PrikazSoba = () => {
        var soba = document.getElementById("SobaID").value;
        var krevet = document.getElementById("KrevetID").value;
        $.get("/Recepcija/PrikazSoba", { Soba: soba, Krevet: krevet }, function (data) {
            $("#Ajax").html(data);
        })
    }
    PrikazSoba();
</script>