<style>
    .klasa {
        margin: 10px;
        width: 20%;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #567d5d;
        background-image: none;
    }
        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }
    /* Custom Select */
    .select {
        position: relative;
        display: flex;
        width: 15em;
        height: 2.5em;
        line-height: 2.5;
        background: #567d5d;
        overflow: hidden;
        border-radius: .25em;
    }

    .search {
        position: relative;
        display: flex;
        width: 15em;
        height: 2.5em;
        line-height: 2.5;
        background: #567d5d;
        overflow: hidden;
        border-radius: .25em;
        margin-right: 10px;
    }

    select {
        flex: 1;
        padding: 0 .5em;
        color: #fff;
        cursor: pointer;
    }
    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #263829;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        color: #567d5d;
    }
    /* Transition */
    .select:hover::after {
        color: white;
    }
</style>

<partial name="_ButtonsPartial" />


<form class="form-inline">
    <div class="search">
        <input type="search" oninput="PrikazStudenata()" placeholder="Pretrazi studente" class="form-control"  id="StudentID" />
    </div>
    <div class="select">
        <select  id="TipID" onchange="PrikazStudenata()">
            <option value="0">Stanari</option>
            <option value="1">Primljeni</option>

        </select>
    </div>
</form>

<div id="Ajax">

</div>
<script src="/lib/jquery/dist/jquery.js"></script>

<script>
    var PrikazStudenata = () => {
        var studenti = document.getElementById("StudentID").value;
        var tip = document.getElementById("TipID").value;
        $.get("/Recepcija/PrikazStudenata", { pretraga: studenti, Tip: tip }, function (data) {
            $("#Ajax").html(data);
        })
    }
    PrikazStudenata();
</script>