<style>
    .klasa {
       /* border: 1px solid #00e600;
        border-radius: 5px;*/
        margin: 10px;
        width: 20%;
        /*text-align: center;*/
        /*background-color: #00e600;*/
      /*  cursor: pointer;
        color: white;*/
    }


</style>

<div class="d-flex flex-row bd-highlight mb-lg-5">
    <button class="p-2 bd-highlight btn btn-success klasa" onclick="FilterSoba()">Sobe</button>
    <button class="p-2 bd-highligh btn btn-success klasa"  onclick="FilterStudenata()">Studenti</button>
    <button class="p-2 bd-highlight btn btn-success klasa" onclick="PrikazZahtjeva()">Zahtjevi</button>
</div>
<div id="AjaxDiv">

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
  
</script>