<style>
    .klasa {
        margin: 10px;
        width: 20%;
    }
</style>

<div class="d-flex flex-row bd-highlight mb-lg-5">
    <button class="p-2 bd-highlight btn btn-success klasa" onclick="window.location='/Recepcija/FilterSoba'">Sobe</button>
    <button class="p-2 bd-highligh btn btn-success klasa" onclick="window.location='/Recepcija/FilterStudenata'">Studenti</button>
    <button class="p-2 bd-highligh btn btn-success klasa" onclick="window.location='/Recepcija/PrikazZahtjeva'">Zahtjevi</button>
</div>
<h1>ZZAHTJEVI</h1>