@using Studentski_hotel.Models.Admin
@model PrikazOsobljaVM
@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}
<table class="table">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>DatumRodjenja</th>
    </tr>
    @foreach (var item in Model.Osoblje)
    {
        <tr>
            <td>@item.Ime</td>
            <td>@item.Prezime</td>
            <td>@item.DatumRodjenja</td>
            <td><button class=" btn btn-primary" onclick="window.location='/Admin/DodajNastavnika?RecepcionerID=@item.ID'">Uredi</button></td>
        </tr>
    }

</table>
<script>

</script>