<style>
    .klasa {
        margin: 10px;
        width: 20%;
        color: white;
        background-color: #567d5d;
    }

        .klasa:hover {
            color: white;
            background-color: #263829;
        }
</style>


<div class="d-flex flex-row bd-highlight mb-lg-5" style="justify-content:center;">
    <button class="p-2 bd-highligh btn  klasa" onclick="window.location='/Recepcija/FilterSoba'">Sobe</button>
    <button class="p-2 bd-highligh btn  klasa" onclick="window.location='/Recepcija/FilterStudenata'">Studenti</button>
    <button class="p-2 bd-highligh btn klasa" onclick="window.location='/Recepcija/PrikazZahtjeva'">Zahtjevi</button>
</div>
